<app-navbar></app-navbar>

<div class="home-container">
  <div class="main-content animate_animated animate_fadeInUp">
    <!-- THUMB IMAGE -->
    <div class="main-content animate_animated animate_fadeInUp">
      <div class="thumb-container">
        <img
          src="../../../assets/thumb.jpg"
          alt="Profile Image"
          class="thumb-image"
        />
      </div>
    </div>

    <!-- TEXT -->
    <div class="text-container">
      <p>Testing image</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
        consectetur. Accusamus soluta voluptates ipsa quas, mollitia iste
        doloremque cum asperiores expedita, ipsum quasi rerum qui! Similique
        enim ab esse blanditiis.
      </p>
    </div>
  </div>
</div>

<app-footer></app-footer>
